force-app/main/default/flows/Product_Quick_Search.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assignment</name>
        <label>Assignment</label>
        <locationX>634</locationX>
        <locationY>387</locationY>
        <assignmentItems>
            <assignToReference>looptext</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varloop.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>looptext</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;&lt;/br&gt;</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <choices>
        <name>AssemblyBots</name>
        <choiceText>Assembly Bots</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Assembly</stringValue>
        </value>
    </choices>
    <choices>
        <name>CloudyBots</name>
        <choiceText>Cloudy Bots</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cloudy</stringValue>
        </value>
    </choices>
    <choices>
        <name>RainbowBots</name>
        <choiceText>Rainbow Bots</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rainbow</stringValue>
        </value>
    </choices>
    <interviewLabel>Product Quick Search {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Product Quick Search</label>
    <loops>
        <name>Get_Products_from_Record_Collections</name>
        <label>Get Products from Record Collections</label>
        <locationX>620</locationX>
        <locationY>225</locationY>
        <collectionReference>filterresult</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Result</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Filtered_Product</name>
        <label>Filtered Product</label>
        <locationX>628</locationX>
        <locationY>57</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Products_from_Record_Collections</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Product_Choice</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>filterresult</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <screens>
        <name>Product_Filter_Screen</name>
        <label>Product Filter Screen</label>
        <locationX>437</locationX>
        <locationY>47</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Filtered_Product</targetReference>
        </connector>
        <fields>
            <name>Product_Choice</name>
            <choiceReferences>AssemblyBots</choiceReferences>
            <choiceReferences>CloudyBots</choiceReferences>
            <choiceReferences>RainbowBots</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Product Choice</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Result</name>
        <label>Result</label>
        <locationX>860</locationX>
        <locationY>234</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Result_Text</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>looptext</elementReference>
            </defaultValue>
            <fieldText>Result Text</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Product_Filter_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>filterresult</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>looptext</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Product_Choice</elementReference>
        </value>
    </variables>
    <variables>
        <name>varloop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
</Flow>
